<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Just Tech News</a>
      </h1>
      <nav>
        {% if loggedIn == True %}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {% else %}
        <a href="/login">login</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block body %}{% endblock %}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {% if loggedIn %}
  <script src="/javascript/logout.js"></script>
  {% endif %}
</body>

</html>