{% extends "layout/main.html" %}

{% block body %}
<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{% if posts|length > 0 %}
<section>
  <h2>Your Posts</h2>
  <ol>
    {% for post in posts %}
    <li>
      {% include "partials/post-info.html" %}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {% endfor %}
  </ol>
</section>
{% endif %}

<script src="/javascript/add-post.js"></script>
{% endblock %}